@media (max-width: 960px) {
    .nav {
        gap: 5vw;
        }
    .nav-link{
        font-size: 2.6vh;
    }
    .hero{
        justify-content:space-between;
    }
    .hero-profile{
        width: 26vh;
        height: 26vh;
        margin: auto;
    }
    .corner-icons{
        width: 5%;
        height: 100%;
        margin-right: 2vw;
    }
    
}