@media (max-width: 1000px) {
    *{    scroll-behavior: smooth; 
        transition: 0.8s;
    
    }
    .nav {
        gap: 5vw;
        }
    .nav-link{
        font-size: 2.6vh;
    }
    .hero{
        justify-content:space-between;
    }
    .hero-profile{
        width: 26vh;
        height: 26vh;
        margin: auto;
    }
    .hero-summary-name{
        margin-top: 8%;
        font-size: 5vh;
        font-weight:500;
    }
    .hero-summary-name span{
        margin: 0;
        font-size: 5vh;
    }    
    .hero-summary-longname{
        font-size: 3.5vh;
        margin:2% 0;
    }
    .hero-summary-address{
        font-size: 2.1vh;
        margin:3% 0;
    }
    .hero-summary button {
        width: 175px;
        height: 5.5vh;
        font-size: 3.1vh;
        margin: 5% 0;
    }
    .corner-icons{
        width: 4.5%;
        height: 100%;
        margin-right: 3vw;
    }     
    .gallery-card {
        margin: 3.5% 1%;
    }
    .gallery-card div i {
        font-size: 4vw;
    }
    .gallery-card div p {
        font-weight: 600;
    }
    .gallery-card-p-content {
        font-size: 1.6vw;
    }
    .card-button{
        font-size: 80%;
    }
    .footer div{    
        font-size: 1.6vh;
    }
    
    .footer i{
        font-size: 1.6vh;
    }

}

@media (max-width: 480px) {
    .logo-name{
        font-size: 3.5vh;
        margin-left: 4vw;
    }
    .nav{
        display: none;    
    }
    .hero-profile{
        width: 20vh;
        height: 20vh;
    }
    .hero-summary-name{
        font-size: 4.5vh;
        margin-top: 4vh;
    }
    .hero-summary-name span {
        font-size: 4vh;
    }
    .hero-summary-longname {
        font-size: 3vh;
    }
    .hero-summary button {
        margin-top: 3vh;
        width: 40vw;
        border: 2px solid var(--primary);
        font-size: 2.8vh;
        font-weight: 500;
    }
    .header i{
        display: flex;
        font-size: 20px;
        margin-right: 2vw;
    }
    
    .corner-icons div{
        margin-top: 10px;
        margin-right: 20px;
        width: 25px;
        height: 25px;
        border: 1px solid var(--primary);
    }
    .corner-icons i{
        font-size: 100%;
        color: var(--primary);
    }
    .gallery-card {
        width: 40% ;
        height: 30vh;
        margin-top: 2vh;
    }
    .gallery-card:hover{
        transform: scale(1.1);
        margin-top: 0px;
    }
    
}
