/* 
icons : 
    about me <i class="fa-solid fa-address-card"></i>
    skills <i class="fa-solid fa-code"></i>
    project <i class="fa-solid fa-suitcase"></i>
    experience  <i class="fa-solid fa-building"></i> 
                <i class="fa-regular fa-building"></i>
    email <i class="fa-solid fa-at"></i>
    linkedin <i class="fa-brands fa-linkedin"></i>
*/

:root{
    --primary :#22201D;
    --text :#E6E4D7;
    --secondary :#B9A08D;
    --background :#C5B8A8;
    --accent :#DDD6C8;
}

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
    transition: 0.8s;
    overflow: visible;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

:hover{
    transition:all 0.25s ease;
}

.header{
    width: 100vw;
    height: 8vh;
    background-color: var(--primary);
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo-name{
    color: var(--text);
    text-decoration: none;
    font-size:  2vw;
    font-weight: 600;
    margin: 0vh 2vw;
    border-bottom: 2px solid transparent;
}

.logo-name:hover{
    border-bottom: 0.3vw solid var(--text);
}

.nav{
    gap: 8vw;
    display: flex;
    margin-right: 6vw;
}

.nav-link{
    text-decoration: none;
    color: var(--text);
    font-size: 1.5vw;
    border-bottom: 1px dashed transparent;
}

.nav-link:hover{
    border-bottom: 2px solid var(--text);
}

.hero{
    margin: 2px;
    margin-top: 8px;
    width: 98vw;
    height: 40vh;
    display:flex;
    flex-direction: row;
    border-radius: 20px ;
    align-items: center;
    justify-content:center;
    background-image: url(bg-hero.png);
    background-position: 50% 10%;
    background-size: cover;
    z-index: -10;
}

.hero-profile{
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    background-image: url(hero-bg.png);
    border: 4px solid var(--primary);
    margin: auto;
    margin-left: 30%;
    margin-right: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-profile img {
    margin-bottom: 3.8%;
    height:110% ;
}
.corner-icons{
    width: 80px;
    height: 100%;
    background-color: #22201D;
    margin: 0;
    margin-left: 7%;
}
.hero-profile:hover{
    box-shadow: 0px 0px 25px black;
}

.hero-summary{
    width: 500px;
    height: 100%;
    margin: 0;
}

.hero-summary-name{
    flex-direction: column;
    margin-top: 6%;
    margin-bottom: 0;
    font-size: 50px;
    font-weight: 600;
    cursor:default;
    display: flex;
    color: var(--primary);
}

.hero-summary-name:hover{
    text-shadow: 0px 0px 25px black;
}

.hero-summary-longname{
    font-size: 25px;
    margin: 5px;
    margin-left: 0;
    cursor: default;
}

.hero-summary-longname:hover{
    text-shadow: 0px 0px 25px black;
}

.hero-summary-address{
    font-size: 15px;
    font-weight: 400;
    margin:1px 0;
    cursor: default;
    color: var(--primary);
}

.hero-summary-address:hover{
    text-shadow: 0px 0px 25px black;
}

.hero-summary button {
    width: 200px;
    height: 45px;
    color: var(--primary);
    background: transparent;
    border-radius: 30px;
    padding: 0;
    border: 3px solid var(--primary);
    font-size: 23px;
    margin: 0;
    margin-top: 5%;
    cursor: pointer;
}

.hero-summary button:hover{
    box-shadow: 0px 0px 20px black;
    background-color: var(--primary);
    border: none;
    color: var(--text);
}

.corner-icons{
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.corner-icons div{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border: 2px solid var(--primary);
    border-radius:50% ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corner-icons div:hover{
    background-color: var(--primary);
    box-shadow: 0px 0px 25px black;
}

.corner-icons i{
    padding: 12px 0px;
    font-size: 28px;
    color: var(--primary);
}

.corner-icons i:hover{
    color: var(--text);
}

.gallery{
    background-color: var(--background);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 3px;
    /* overflow: hidden; */
}

.gallery-card {
    width: 19.5%;
    height: 33vh;
    border-radius: 6%;
    background-color: var(--text);
    margin: 8px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 5%;
    margin: 0;
    cursor: pointer;
}

.gallery-card div{
    margin-top: 6%;  
    display: flex;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-card-p{
    margin:auto;
    font-size: 30px;
    color: var(--primary);
}

.gallery-card i{
    margin: auto;
    font-size: 62px;
}

.gallery-card:hover{
    box-shadow: -5px 5px 25px black;
    /* transform: scale(1.2); */
    margin-top: -200px;
    z-index: 1;
}

.gallery-card-p-content{
    font-size: 18px;
    text-align: justify;
    font-weight:200;
    color: var(--primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    margin-bottom: -10px;
}

.gallery-card-1 {
    width: 19.5%;
    height: 33vh;
    border-radius: 6%;
    background-color: var(--secondary);
    margin: 8px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery-card-1 div{
    margin-top: 6%;  
    display: flex;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-card-1 i{
    margin: auto;
    font-size: 62px;
}

.gallery-card-1:hover{
    box-shadow: -5px 5px 25px black;
    /* transform: scale(1.2); */
    margin-top: -200px;
    z-index: 1;
}

.gallery-card-2 {
    width: 19.5%;
    height: 33vh;
    border-radius: 6%;
    background-color: var(--text);
    margin: 8px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery-card-2 div{
    margin-top: 6%;  
    display: flex;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-card-2 i{
    margin: auto;
    font-size: 62px;
}

.gallery-card-2:hover{
    box-shadow: -5px 5px 25px black;
    /* transform: scale(1.2); */
    margin-top: -200px;
    z-index: 1;
}

.gallery-card-3 {
    margin-right: 15px;
    width: 19.5%;
    height: 33vh;
    border-radius: 6%;
    background-color: var(--secondary);
    margin: 8px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery-card-3 div{
    margin-top: 6%;  
    display: flex;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-card-3 i{
    margin: auto;
    font-size: 62px;
}

.gallery-card-3:hover{
    box-shadow: -5px 5px 25px black;
    /* transform: scale(1.0); */
    margin: 0;
    margin-top: -200px;
    z-index: 1;
    transform-origin: left left;
}

.footer {
    width: 100%;
    height: 5vh;
    background-color: var(--primary);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer div{    
    color: var(--text);
    font-size: 12px;
    margin: 0 6px;
    opacity: 90%;
}

.footer i{
    font-size: 17px;
    color: var(--text);
    opacity: 90%;
}