/* 1. `#b49a83`
2. `#b39982`
3. `#b59c84`
4. `#b49c86`
5. `#b49a84`
6. `#b39b85`
7. `#b49a85`
8. `#b59d88`
9. `#b69e89`
10. `#b79d86` */
:root{
    --primary :#2c241e;
    --primary-2 :#b09983;
    --text-color :#2c241e;
    --text-color1 : #e2ded5;
    --secondary :#e2ded5;
    --background :#c4bfb4;
    --accent :#745436;
    --a : #736252;
    --b : #e0d5c2;
    --c : #6b3d26;
    --d : #8c6954;
    --e : #e8b08a;
    --f : #26221F;
}

* {
 width: 100vw;
 height: 100vh;   
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 padding: 0px 0px;
 margin: 0px 0px;
}

.header{
    width: 100vw;
    height: 15vh;
    background-color: var(--f);
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.header a {
    margin: 5vh 8vh;
    text-decoration: none;
    color: var(--text-color1);
    font-weight: 700;
    font-size:x-large;
}

.nav {
    display: flex;
    align-items: center;
}

.tab-menu {
    gap: 10px;
    margin: 5.5vh 0px;
    margin-left: -2vh;
}

.tab-menu a {
    font-size: medium;
}

.tab-menu a:hover{
    font-size: large;
}